<!DOCTYPE html>
<html lang="en">
<!--Partial del head-->
<%- include('../partials/head', {title: 'Editar producto'}) %>

    <!--Se dejaron afuera las ccs propias de la pagina-->
    <link rel="stylesheet" href="/css/productsForm.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/style_formulario.css">

    <body>

        <!--Partial del header-->
        <%- include('../partials/header') %>

            <!--Partial del menu seleccion-->
            <%- include('../partials/menu') %>
                <h2>Edición de producto:</h2>
                <ul class="mostrarFormulario errores"></ul>
                <form class="forma" action="/products/edit/<%= product.product_id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                    <div class="formProd">
                        <label for="name">Nombre del producto:</label>
                        <input class="form-camp" type="text" id="product_name" name="product_name" value="<%= product.product_name %>">

                        <label for="price">Precio:</label>
                        <input class="form-camp" type="number" id="price" name="price" value="<%= product.price %>" min="1" step="1">

                        <label for="discount" class="form-label">Descuento:</label>
                        <input class="form-camp" type="number" id="discount" name="discount" value="<%= product.discount %>" min="1" step="1">

                        <label for="category" class="form-label">Categoría:</label>
                        <select class="form-camp" name="category" id="category">
                                <option disabled selected>Elige categoria</option>
                                <option value="swim">Natación</option>
                                <option value="bike">Ciclismo</option>
                                <option value="run">Carrera</option>
						    </select>

                        <label for="description">Descripción del producto:</label>
                        <textarea class="form-camp" name="description" id="description"><%= product.description %> </textarea>

                        <label for="color">Color </label>
                        <input class="form-camp" type="text" id="color" name="color" value="<%= product.color %>">

                        <label for="size">Talla </label>
                        <input class="form-camp" type="text" id="size" name="size" value="<%= product.size %>">

                        <label for="imagen">Imagen del producto</label>
                        <img class="i-margin form-block" src="/images/products/<%= product.image %>" alt="Imagen del producto">
                        <label for="imagen"><%= product.image %></label>
                        <input class="form-camp" type="file" name="image" id="image" value="<%= product.image %>">

                        <div class="b-container">
                            <button type="submit" class="form-input b-margin">Guardar</button>
                            <button type="reset" class="form-input b-margin">Limpiar</button>
                        </div>

            <script src="/js/productsValidator.js"></script>                     </div>
    </body>

</html>