<!DOCTYPE html>
<html lang="en">
<!--Partial del head-->
<%- include('partials/head') %>

        <!--Se dejaron afuera las ccs propias de la pagina-->
        <link rel="stylesheet" href="/css/productsForm.css">
        <link rel="stylesheet" href="/css/product.css">
    <body>
        <%- include('partials/header') %>

            <main>
                <div class="headProd">
                    <h1>Consulta de Productos</h1>

                    <form action="/products/edit/<%= productToEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                        <div class="formProd">
                            <label for="id">Id del producto</label>
                            <input class="form-camp" type="number" id="id" name="id" value="<%= productToEdit.id %>" disabled>

                            <label for="name">Nombre del producto</label>
                            <input class="form-camp" type="text" id="name" name="name" value="<%= productToEdit.name%>" disabled>

                            <img src="/images/products/<%= productToEdit.image %>" alt="Imagen del producto">
                            <div class="product-container">
                                <div class="info-product">
                                    <p class="product-price"><span>$1,800.00</span></p>
                                    <p class="product-discount"><span>5% off</span></p>
                                </div>

                                <p>
                                    <%= productToEdit.description %>
                                </p>
                            </div>

                            <button class="form-input" type="submit">Editar</button>
                            <button class="form-input">Eliminar</button>
                        </div>
                    </form>
                    </div>

                </div>
            </main>
    </body>

</html>