<!DOCTYPE html>
<html lang="en">
<!--Partial del head-->
<%- include('partials/head') %>

    <!--Se dejaron afuera las ccs propias de la pagina-->
    <link rel="stylesheet" href="/css/productsForm.css">
    <link rel="stylesheet" href="/css/product.css">

    <body>
        <%- include('partials/header') %>

            <main>
                <div class="headProd">
                    <h1>Consulta de Productos</h1>

                    <form action="/products/detail/<%= product.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                        <div class="formProd">
                            <label for="id">Id del producto</label>
                            <input class="form-camp" type="number" id="id" name="id" value="<%= product.id %>" disabled>

                            <label for="name">Nombre del producto</label>
                            <input class="form-camp" type="text" id="name" name="name" value="<%= product.name%>" disabled>

                            <div class="f-blocks">
                                <img class="i-margin form-block" src="/images/products/<%= product.image %>" alt="Imagen del producto">
                                <div class="product-container form-block">
                                    <div class="info-product f-info">
                                        <p class="product-price f-price"><span>$<%= product.price %> </span></p>
                                        <p class="product-discount f-price"><span><%= product.discount %>% off </span></p>
                                    </div>
                                    <p class="final-price">Precio Final:
                                        <% if(product.discount > 0 ){
                                    let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0) %>

                                            $
                                            <%= toThousand(finalPrice) %>

                                                <% } else { %>

                                                    <%= product.price %>

                                                        <% } %>

                                    </p>

                                </div>
                            </div>
                            <p class="f-description">
                                <%= product.description %>
                            </p>


                            <div class="b-container">
                                <a href="/products/edit/<%= product.id %>" class="form-input">Editar</a>
                                <button onclick="history.go(-1)" class="form-input b-margin">Regresar</button>
                            </div>

                        </div>
                    </form>
                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <button class="form-input b-margin b-delete">Eliminar</button>
                    </form>
                </div>
            </main>
    </body>

</html>