<!DOCTYPE html>
<html lang="en">
<!--Partial del head-->
<%- include('partials/head') %>

    <body>
        <!--Partial del header-->
        <%- include('partials/header') %>

            <!--Partial del menu seleccion-->
            <%- include('partials/menu') %>

                <main class="container">
                    <section class="offers">
                        <h2>Todos los productos</h2>
                        <div class="products">
                            <% products.forEach(function(product){ 
                    let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
                %>
                                <article>
                                    <a href="/products/edit/<%= product.id %>"><img src="/images/products/<%= product.image %>" alt="Imagen del producto"></a>
                                    <div class="main-article">
                                        <% if (product.category == "swim") { %>
                                            <i class="fas fa-swimmer"></i>
                                            <% } else if(product.category == "run") { %>
                                                <i class="fas fa-running"></i>
                                                <% } else { %>
                                                    <i class="fas fa-biking"></i>
                                                    <% } %>
                                                        <div class="container01">
                                                            <p class="price">$
                                                                <%= product.price %>
                                                            </p>
                                                            <p class="discount">
                                                                <%= product.discount%> off
                                                            </p>
                                                        </div>
                                                        <p class="description">
                                                            <%= product.name %>
                                                        </p>
                                    </div>
                                </article>
                                <% }) %>
                        </div>

                    </section>

                </main>
                <!--Partial del footer desde social media-->
                <%- include ('partials/footer')%>

    </body>

</html>