<!DOCTYPE html>
    <html lang="en">    
        <!--Partial del head-->
        <%- include('partials/head') %>

        <!--Se dejaron afuera las ccs propias de la pagina-->
        <link rel="stylesheet" href="/css/productsForm.css">
        <link rel="stylesheet" href="/css/product.css">
    <body>
        <!--Partial del menu seleccion-->
        <%- include('partials/header') %>

        <main>
            <div class="headProd">
                <h1>Consulta de Productos</h1>
                <form action="/products/create">
                    <div class="formProd">
                        <label for="productID">Id del producto</label><input disabled class="form-camp" type="text" value="<%= product.id %>" name="productID" onfocus="this.value=' '">
                        <label for="producto">Nombre del producto</label><input disabled class="form-camp" type="text" value="<%= product.name %>" name="producto" onfocus="this.value=' '">  
                        <label for="descrpcion">Descripción producto</label><textarea disabled class="form-camp" type="textarea" value="<%= product.description %>"onfocus="this.value=' '"><%= product.description %></textarea><br>
                        <img src="/images/<%= product.image %>" alt="producto">
                        <label for="categoria">Categoría  producto</label><input disabled class="form-camp" type="text" value="<%= product.description %>" rows="10">
                        <label for="color">Color </label><input disabled class ="form-camp" class="form-camp" type="text" value="Color" onfocus="this.value=' '">
                        <label for="talla">Talla </label><input disabled type="text"  class="form-camp" value="Talla"onfocus="this.value=' '">
                        <label for="precio">Precio </label><input disabled type="text" class="form-camp" value="<%= product.price %>" onfocus="this.value=' '">
                        <div class="botones">
                        <input type="button" onclick="history.go(-1)"  class="form-input" value="Regresar">
                        <input type="submit" class="form-input" value="Producto Nuevo" >
                        </div>
                    </div>        
                </form>
            </div>
</main>
</body>
</html>