<!DOCTYPE html>
<html lang="en">
<!--Partial del head-->
<%- include('partials/head', {title: 'Inicio'}) %>

    <body>
        <!--Partial del header-->
        <%- include('partials/header') %>

            <!--Partial del menu seleccion-->
            <%- include('partials/menu') %>


                <main class="container">

                    <section class="main-container">
                        <% if (!locals.isLogged) { %>
                            <div class="base">
                                <a class="align" href="/login">
                                 <i class="fas fa-user"></i></a>
                            </div>
                            <% } else { %>
                                <br><br>
                                <p> <img src="/images/users/<%= locals.userLogged.image %>" width="200" style= "border-radius: 100%"> </p>
                                    <br><br><h2>Hello <%= locals.userLogged.first_name %>  <%= locals.userLogged.last_name %></h2>
                    
                            <% } %>

                    
                    </section>

                    
                </main>

                <div class="block-navbar">
                    <div class="bottom-navbar">
                        <a href="#bottom-nav1" class="bottom-mobile-menu">
                            <span>Ayuda</span>
                            <i class="fas fa-chevron-circle-down"></i>
                        </a>

                        <nav id="bottom-nav1" class="b-nav help">
                            <a href="#">¿Quiénes somos?</a>
                            <a href="#">Contactanos</a>
                        </nav>
                    </div>

                    <div class="bottom-navbar">
                        <a href="#bottom-nav2" class="bottom-mobile-menu">
                            <span>Aviso Legal</span>
                            <i class="fas fa-chevron-circle-down"></i>
                        </a>

                        <nav id="bottom-nav2" class="b-nav advice">
                            <a href="#">Términos y Condiciones</a>
                            <a href="#">Promociones Vigentes</a>
                            <a href="#">Privacidad</a>
                        </nav>
                    </div>
                </div>

                <!--Partial del footer desde social media-->
                <%- include ('partials/footer')%>

    </body>

</html>